@{
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}
<style>
    #main-content {
        width: 1024px;
        margin: auto;
        min-height: 510px;
        margin-top: 70px;
    }

    #contact_addres {
        width: 250px;
        float: left;
        font-family: Consolas;
        font-size: 15px;
        margin-left: 39px;
        -moz-user-select: text;
        -khtml-user-select: text;
        -webkit-user-select: text;
        -o-user-select: text;
        user-select: text;
    }

    .info {
        font-size: 16px;
        margin-bottom: 6px;
        color: #729b27;
    }

    #map_container {
        width: 335px;
        float: left;
    }

    .contact_form {
        float: left;
        width: 360px;
    }
</style>
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>

<div id="contact_addres">


    <table style="line-height: 1.2em; text-align: left">
        <tr>
            <td>
                <p class="info">Адреса</p>
            </td>
        </tr>
        <tr>
            <td>ул.Ратко Митровиќ бб.</td>
        </tr>
        <tr>
            <td>1000 Скопје</td>
        </tr>

    </table>
    <table style="line-height: 1.2em; text-align: left">
        <tr>
            <td>
                <p class="info" style="margin-top: 10px;">Телефон/Факс</p>
            </td>
        </tr>
        <tr>
            <td>+389 02/2700 999</td>
        </tr>
        <tr>
            <td>+389 02/2700 800</td>
        </tr>
        <tr>
            <td>
                <p class="info" style="margin-top: 10px;">Електронска пошта</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>belinaljupce@belina.com.mk</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="info" style="margin-top: 10px;">Жиро сметки</p>
            </td>
        </tr>
        <tr style="height:40px">
            <td>
                <p>Тутунска банка Скопје:</p><p>210-0480392201-98</p>
            </td>
        </tr>
        <tr style="height:40px">
            <td>
                <p>Еуростандард банка Скопје:</p><p>370-0111000193-61</p>
            </td>
        </tr>
        <tr style="height:40px">
            <td>
                <p>Прокредит Банка - Скопје:</p><p>380-1000679001-05</p>
            </td>
        </tr>
        <tr style="height:40px">
            <td>
                <p>Халк Банка - Скопје:</p><p>270-0480392201-08</p>
            </td>
        </tr>
    </table>
</div>
<div id="map_container">
    <div id="map" style="width: 300px; height: 300px; overflow: hidden; border: 1px solid #729b27;">
    </div>
</div>


<div class="contact_form">
    <ul>

        <li>
            <label for="name">Име и презиме/Фирма:</label>
            <input id="ime" type="text" class="contact_input" placeholder="Белина" required />
        </li>

        <li>
            <label for="email">Електронска пошта:</label>
            <input id="email" type="email" class="contact_input" name="email" placeholder="belina@example.com" required />
        </li>
        <li>
            <label for="number">Телефонски број:</label>
            <input id="broj" type="text" class="contact_input" name="website" placeholder="Телефонски број" />

        </li>
        <li>
            <label for="message">Порака:</label>
            <textarea id="poraka" class="contact_input" name="message" cols="40" rows="6" required></textarea>
        </li>
        <li>
            <button class="submit" type="button">Испрати</button>
        </li>
    </ul>

</div>
<script type="text/javascript">
    InitializeMap();
    $('.submit').click(function () {



        var name = $('#ime').val();
        var email = $('#email').val();
        var number = $('#broj').val();
        var message = $('#poraka').val();
        var required_inputs = new Array();


        for (var i = 0; i < $(".contact_input").length; i++) {
            if ($($(".contact_input")[i]).attr('required')) {
                required_inputs.push($($(".contact_input")[i]));
            }

        }
        var pom = false;

        for (var j = 0; j < required_inputs.length; j++) {
            if (required_inputs[j].val() == "")
                pom = true;
        }
        if (pom == false) {
            $.ajax({
                url: "/Home/Sendform",
                type: "GET",
                data: {

                    ime: name,
                    broj: number,
                    email: email,
                    poraka: message,
                },
                success: function (result) {
                    alert(result.msg);

                }
            });
        } else {
            alert("Enter the required values");
        }


    });


    function InitializeMap() {

        directionsDisplay = new google.maps.DirectionsRenderer();

        var latlng = new google.maps.LatLng(41.935803, 21.525655);

        var myOptions = {
            zoom: 15,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            navigationControl: true

        };
        map = new google.maps.Map(document.getElementById("map"), myOptions);
        google.maps.event.trigger(map, 'resize');

        var image = '../Images/maps_logo.png';
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(41.935595, 21.525618),
            map: map,
            icon: image,
            title: 'Белина'
        });


        var infowindow = new google.maps.InfoWindow({
            content: 'Location info: St. Ratko Mitrovic bb 1000 Skopje, Macedonia - '

        });

        google.maps.event.addListener(marker, 'click', function () {
            // Calling the open method of the infoWindow 
            infowindow.open(map, marker);
        });

        directionsDisplay.setMap(map);
        //directionsDisplay.setPanel(document.getElementById("directionsPanel"));

    }
</script>
