
@{
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}

				<div id="product1">Производ А</div>
				<div id="product2">Производ Б</div>
				<div id="product3">Производ В</div>
				<div id="annyer"><img src="Content/sliki/d28A.jpg"></img></div>
