@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Admin.css")" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
    <link rel="STYLESHEET" type="text/css" href="/Content/grid/codebase/dhtmlxgrid.css">
    <link rel="STYLESHEET" type="text/css" href="/Content/grid/codebase/dhtmlxcombo.css">
    <link rel="STYLESHEET" type="text/css" href="/Content/grid/dhtmlx.css">
    <script src="/Content/grid/codebase/dhtmlxcommon.js"></script>
    <script src="/Content/grid/codebase/dhtmlxgrid.js"></script>
    <script src="/Content/grid/codebase/dhtmlxcombo.js"></script>
    <script src="/Content/grid/codebase/dhtmlxgridcell.js"></script>
    <script src="/Content/grid/dhtmlx.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.ajaxloader.js")" type="text/javascript"></script>
    <title>Edit</title>
    <style>
        body {
            padding-bottom: 250px;
            width: 99%;
        }

        a {
            font-family: Tahoma,Arial,Helvetica,serif;
            font-size: 12px;
            color: #058cb6;
            text-decoration: none;
        }

        #product_container {
            width: 91%;
            height: 750px;
            margin: auto;
        }

        #class_container {
            width: 45%;
            height: 300px;
            margin-top: 30px;
            margin-bottom: 50px;
           
            float: left;
        }

        #delete_class {
            position: absolute;
            margin-top: 340px;
            margin-left: 270px;
        }

        #type_container {
            width: 45%;
            height: 300px;
            margin-top: 30px;
            margin-bottom: 50px;
            margin-left: 10px;
            float: left;
        }

        #delete_type {
            position: absolute;
            margin-top: 340px;
            margin-left: 790px;
        }

        #attribute_container {
            width: 45%;
            height: 300px;
            margin-top: 30px;
            margin-bottom: 50px;
         
            float: left;
        }

        #delete_attribute {
            position: absolute;
            margin-top: 726px;
            margin-left: 222px;
        }

        #company_container {
            width: 45%;
            height: 300px;
            margin-top: 30px;
            margin-bottom: 50px;
          
            float: left;
        }

        #delete_company {
            position: absolute;
            margin-top: 725px;
            margin-left: 755px;
        }

         #product_containerLoadingMask {
            background: #333 url(/Content/sliki/jquery.ajaxLoader.gif) no-repeat 50% 50%;
            opacity: .6;
        }
    </style>
</head>
<body>

    <div id="product_container"></div>
    <div style="margin:auto;width:90%">
    <div id="class_container"></div>
    <div id="type_container"></div>
    <div id="attribute_container"></div>
    <div id="company_container" style=""></div>
    </div>

    <script>
        var mygrid_classes;
        var mygrid_types;
        var mygrid_attributes;
        var mygrid_companies;
        var mygrid_products;
        var ing_grid_sort_index = 0;
        var ing_grid_sort_dir = "asc";
        var ing_grid_filters = "";

        $(document).ready(function () {


            loadProductsGrid();

            $.ajax({
                url: "/Admin/XMLForClasses",
                dataType: "json",
                type: "GET",
                data: {},
                success: function (result) {
                    init_Classes_grid();
                    mygrid_classes.init();
                    mygrid_classes.parse(result, "xml");
                }
            });

            $.ajax({
                url: "/Admin/XMLForTypes",
                dataType: "json",
                type: "GET",
                data: {},
                success: function (result) {
                    init_Types_grid();
                    mygrid_types.init();
                    mygrid_types.parse(result, "xml");
                }
            });

            $.ajax({
                url: "/Admin/XMLForAttributes",
                dataType: "json",
                type: "GET",
                data: {},
                success: function (result) {
                    init_Attributes_grid();
                    mygrid_attributes.init();
                    mygrid_attributes.parse(result, "xml");
                }
            });

            $.ajax({
                url: "/Admin/XMLForCompanies",
                dataType: "json",
                type: "GET",
                data: {},
                success: function (result) {
                    init_Companies_grid();
                    mygrid_companies.init();
                    mygrid_companies.parse(result, "xml");
                }
            });
        });
        var gridColumnIndex;
        var gridSortingDirection;

        function init_Product_grid() {

            mygrid_products = new dhtmlXGridObject('product_container');
            mygrid_products.setImagePath("/Content/grid/codebase/imgs/");
            mygrid_products.setSkin("light");
            mygrid_products.attachFooter("<div><a onclick='delete_product_row()' href='javascript:void(0)'>Избриши</a></div>");

            mygrid_products.enableSmartRendering(true);
            mygrid_products.isLoaded = false;
            mygrid_products.setAwaitedRowHeight(21);
            mygrid_products.enablePreRendering(50);

            debugger;

            mygrid_products.attachEvent("onEditCell", function (stage, rId, cInd, nValue, oValue) {

                    debugger;
                if (stage == 0 && cInd == 0) {
                    switch (mygrid_products.cellById(rId, cInd).getValue()) {
                        case "0":
                            mygrid_products.cellById(rId, cInd).setChecked(true);
                            break;
                        case "1":
                            mygrid_products.cellById(rId, cInd).setChecked(false);
                            break;
                        default:
                            break;
                    }
                }
                if (stage == 2 && cInd >= 1 && cInd <= 6) {
                    $.ajax({
                        url: "/Admin/updateProducts",
                        dataType: "json",
                        type: "POST",
                        data: { old_Name: oValue, new_Name: nValue, row_id: rId, product_column: cInd },
                        success: function (result) {
                            mygrid_products.cellById(rId, cInd).setValue(nValue);
                        }
                    });
                }
            });

            mygrid_products.attachEvent("onBeforeSorting", function (ind, type, direction) {

                if (gridColumnIndex != ind) {
                    gridColumnIndex = ind;
                    gridSortingDirection = direction;
                }
                else {
                    if (gridSortingDirection == "asc") {
                        direction = "desc";
                    }
                    else {
                        direction = "asc";
                    }
                    gridSortingDirection = direction;
                }
                ing_grid_sort_index = ind;
                ing_grid_sort_dir = direction;
                mygrid_products.clearAll();
                mygrid_products.loadXML("/Admin/XMLForProducts?orderbyindex=" + ind + "&dontPos=1&direction=" + direction + '&fil=' + ing_grid_filters, function () {
                });
                mygrid_products.setSortImgState(true, ing_grid_sort_index, ing_grid_sort_dir);
            });

            mygrid_products.attachEvent("onFilterStart", function (indexes, values) {

                var filters = values;
                filters = filters.join(';;;');
                ing_grid_filters = filters;
                mygrid_products.clearAll();
                //debugger;
                mygrid_products.loadXML("/Admin/XMLForProducts?orderbyindex=" + ing_grid_sort_index + "&dontPos=1&direction=" + ing_grid_sort_dir + "&fil=" + filters, function () {
                });

                return false;
            });

            mygrid_products.attachEvent("onXLS", function () {
                $('#product_containerLoadingMask').remove();
                $('<div id="product_containerLoadingMask" style="width:' + $('#product_container').width() + 'px; height:' + $('#product_container').height() + 'px; position:absolute; top:0px; left:78px; z-index:1000000000;"></div>').appendTo($('#product_container'));
                $loadingMaskGrid = $("#product_containerLoadingMask");
                $loadingMaskGrid.ajaxLoader();
            });

            mygrid_products.attachEvent("onXLE", function () {
                $loadingMaskGrid.ajaxLoaderRemove();
                $loadingMaskGrid.remove();
            });
        }
        function init_Classes_grid() {
            mygrid_classes = new dhtmlXGridObject('class_container');
            mygrid_classes.setImagePath("/Content/grid/codebase/imgs/");
            mygrid_classes.setSkin("light");
            mygrid_classes.attachFooter(",<div><a onclick='delete_class_row()' href='javascript:void(0)'>Избриши ги селектираните класи</a></div>");
            mygrid_classes.attachEvent("onEditCell", function (stage, rId, cInd, nValue, oValue) {

                //    debugger;
                if (stage == 0 && cInd == 1) {
                    switch (mygrid_classes.cellById(rId, cInd).getValue()) {
                        case "0":
                            mygrid_classes.cellById(rId, cInd).setChecked(true);
                            break;
                        case "1":
                            mygrid_classes.cellById(rId, cInd).setChecked(false);
                            break;
                        default:
                            break;
                    }
                }
                if (stage == 2) {
                    debugger;
                    $.ajax({
                        url: "/Admin/updateClasses",
                        dataType: "json",
                        type: "POST",
                        data: { old_className: oValue, new_className: nValue },
                        success: function (result) {
                            mygrid_classes.cellById(rId, cInd).setValue(nValue);
                        }
                    });
                }
            });
        }
        function delete_class_row() {
            if (mygrid_classes.getCheckedRows(1).split(",").length > 0) {
                if (confirm('Избриши ' + mygrid_classes.getCheckedRows(1).split(",").length + ' ред/ови ?')) {

                    $.ajax({
                        url: "/Admin/deleteClasses",
                        dataType: "json",
                        type: "POST",
                        data: { objClasses: mygrid_classes.getCheckedRows(1) },
                        success: function (result) {
                            debugger;
                            for (var i = mygrid_classes.getCheckedRows(1).split(",").length - 1; i >= 0; i--) {
                                mygrid_classes.deleteRow(mygrid_classes.getCheckedRows(1).split(",")[i]);
                            }
                        }
                    });
                }
            }
        }
        function init_Types_grid() {
            mygrid_types = new dhtmlXGridObject('type_container');
            mygrid_types.setImagePath("/Content/grid/codebase/imgs/");
            mygrid_types.setSkin("light");
            mygrid_types.attachFooter(",<div><a onclick='delete_type_row()' href='javascript:void(0)'>Избриши ги селектираните типови</a></div>");

            mygrid_types.attachEvent("onEditCell", function (stage, rId, cInd, nValue, oValue) {

                if (stage == 0 && cInd == 1) {
                    switch (mygrid_types.cellById(rId, cInd).getValue()) {
                        case "0":
                            mygrid_types.cellById(rId, cInd).setChecked(true);
                            break;
                        case "1":
                            mygrid_types.cellById(rId, cInd).setChecked(false);
                            break;
                        default:
                            break;
                    }
                }
                if (stage == 2) {
                    $.ajax({
                        url: "/Admin/updateTypes",
                        dataType: "json",
                        type: "POST",
                        data: { old_typeName: oValue, new_typeName: nValue },
                        success: function (result) {
                            mygrid_types.cellById(rId, cInd).setValue(nValue);
                        }
                    });
                }
            });
        }
        function delete_type_row() {
            if (mygrid_types.getCheckedRows(1).split(",").length > 0) {
                if (confirm('Избриши ' + mygrid_types.getCheckedRows(1).split(",").length + ' ред/ови ?')) {

                    $.ajax({
                        url: "/Admin/deleteTypes",
                        dataType: "json",
                        type: "POST",
                        data: { objTypes: mygrid_types.getCheckedRows(1) },
                        success: function (result) {
                            for (var i = mygrid_types.getCheckedRows(1).split(",").length - 1; i >= 0; i--) {
                                mygrid_types.deleteRow(mygrid_types.getCheckedRows(1).split(",")[i]);
                            }
                        }
                    });
                }
            }
        }
        function init_Attributes_grid() {
            mygrid_attributes = new dhtmlXGridObject('attribute_container');
            mygrid_attributes.setImagePath("/Content/grid/codebase/imgs/");
            mygrid_attributes.setSkin("light");
            mygrid_attributes.attachFooter(",<div><a onclick='delete_attribute_row()' href='javascript:void(0)'>Избриши ги селектираните спец. карактеристики</a></div>");
            mygrid_attributes.attachEvent("onEditCell", function (stage, rId, cInd, nValue, oValue) {
                debugger;
                if (stage == 0 && cInd == 1) {
                    switch (mygrid_attributes.cellById(rId, cInd).getValue()) {
                        case "0":
                            mygrid_attributes.cellById(rId, cInd).setChecked(true);
                            break;
                        case "1":
                            mygrid_attributes.cellById(rId, cInd).setChecked(false);
                            break;
                        default:
                            break;
                    }
                }
                if (stage == 2) {
                    $.ajax({
                        url: "/Admin/updateAttributes",
                        dataType: "json",
                        type: "POST",
                        data: { old_attributeName: oValue, new_attributeName: nValue },
                        success: function (result) {
                            mygrid_attributes.cellById(rId, cInd).setValue(nValue);
                        }
                    });
                }
            });
        }
        function delete_attribute_row() {
            if (mygrid_attributes.getCheckedRows(1).split(",").length > 0) {
                if (confirm('Избриши ' + mygrid_attributes.getCheckedRows(1).split(",").length + ' ред/ови ?')) {

                    $.ajax({
                        url: "/Admin/deleteAttributes",
                        dataType: "json",
                        type: "POST",
                        data: { objAttributes: mygrid_attributes.getCheckedRows(1) },
                        success: function (result) {
                            debugger;
                            for (var i = mygrid_attributes.getCheckedRows(1).split(",").length - 1; i >= 0; i--) {
                                mygrid_attributes.deleteRow(mygrid_attributes.getCheckedRows(1).split(",")[i]);
                            }
                        }
                    });
                }
            }
        }
        function init_Companies_grid() {
            mygrid_companies = new dhtmlXGridObject('company_container');
            mygrid_companies.setImagePath("/Content/grid/codebase/imgs/");
            mygrid_companies.setSkin("light");
            mygrid_companies.attachFooter(",<div><a onclick='delete_company_row()' href='javascript:void(0)'>Избриши ги селектираните производители</a></div>");
            mygrid_companies.attachEvent("onEditCell", function (stage, rId, cInd, nValue, oValue) {
                if (stage == 0) {
                    switch (mygrid_companies.cellById(rId, cInd).getValue()) {
                        case "0":
                            mygrid_companies.cellById(rId, cInd).setChecked(true);
                            break;
                        case "1":
                            mygrid_companies.cellById(rId, cInd).setChecked(false);
                            break;
                        default:
                            break;
                    }
                }
                if (stage == 2) {
                    $.ajax({
                        url: "/Admin/updateCompanies",
                        dataType: "json",
                        type: "POST",
                        data: { old_companyName: oValue, new_companyName: nValue },
                        success: function (result) {
                            mygrid_companies.cellById(rId, cInd).setValue(nValue);
                        }
                    });
                }
            });
        }
        function delete_company_row() {
            if (mygrid_companies.getCheckedRows(1).split(",").length > 0) {
                if (confirm('Избриши ' + mygrid_companies.getCheckedRows(1).split(",").length + ' ред/ови ?')) {

                    $.ajax({
                        url: "/Admin/deleteCompanies",
                        dataType: "json",
                        type: "POST",
                        data: { objCompanies: mygrid_companies.getCheckedRows(1) },
                        success: function (result) {
                            debugger;
                            for (var i = mygrid_companies.getCheckedRows(1).split(",").length - 1; i >= 0; i--) {
                                mygrid_companies.deleteRow(mygrid_companies.getCheckedRows(1).split(",")[i]);
                            }
                        }
                    });
                }
            }
        }
        function delete_product_row() {
         //   alert(mygrid_products.getCheckedRows(0).split(",").length);
            if (mygrid_products.getCheckedRows(0).split(",").length > 0) {
                if (confirm('Избриши ' + mygrid_products.getCheckedRows(0).split(",").length + ' ред/ови ?')) {

                    $.ajax({
                        url: "/Admin/deleteProducts",
                        dataType: "json",
                        type: "POST",
                        data: { objProducts: mygrid_products.getCheckedRows(0) },
                        success: function (result) {
                            debugger;
                            for (var i = mygrid_products.getCheckedRows(0).split(",").length - 1; i >= 0; i--) {
                                mygrid_products.deleteRow(mygrid_products.getCheckedRows(0).split(",")[i]);
                            }
                        }
                    });
                }
            }
        }

        function loadProductsGrid() {

            $("#product_container").empty();
            init_Product_grid();
            mygrid_products.isLoaded = true;
            //grid.clearAll();

            mygrid_products.init();
            mygrid_products.loadXML("/Admin/XMLForProducts?orderbyindex=" + ing_grid_sort_index + "&direction=" + ing_grid_sort_dir + '&fil=' + ing_grid_filters, function () {

                if (mygrid_products.filters != undefined) {
                    var fil = ing_grid_filters.split(';;;');
                    for (var i = 0; i < mygrid_products.filters.length; i++) {
                        if (fil[i] == undefined)
                            fil[i] = '';
                        mygrid_products.filters[i][0].value = fil[i];
                    }
                }
                try { mygrid_products.setSortImgState(true, ing_grid_sort_index, ing_grid_sort_dir); } catch (err) { }
            });
        }

        function uploadPhoto(rowId) {
         //   alert("ebi se");
            var rowAttr = mygrid_products.cells(rowId, 1).getValue();
            debugger;
            alert(rowAttr);

        }
        
    </script>
</body>
</html>
