@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
       <p> Добредојдовте во админ делот </p>
    </div>
    <div>
     <p>@Html.ActionLink("Register", "Register","Account") Ако сакате да регистрирате нов администратор.</p>
    </div>
</body>
</html>
